<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(categorie => { %>
            <tr>
                <th><%= categorie.id %></th>
                <th><%- categorie.title %></th>
                <th><%- categorie.slug %></th>
                <th>
                    <button class="btn-warning btn">Editar</button>

                    <form action="/categories/delete" method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="<%= categorie.id %>">
                        <button class="btn-danger btn">Excluir</button>
                    </form>
                   
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer') %>